#previewbox {
	background-color:white;
	border: 1px inset ThreedShadow;
	padding: 5px;
	height:8em;
	width:19em;
}

.center {
	text-align:center;
}

.pickercolumn {
	width:5em;
}

.color-picker {
	height: 12px;
	border: 1px inset #CCCCCC;
}

.color-button {
	min-width: 0px;
	margin: 1px;
}

